.bgchange-wrap{
    font-family: sans-serif;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.bgchange-imgs{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    flex-grow: 1;
}
.bgchange-imgs div{
    background-size:cover;
}
.bgchange-type{
    padding: 0.5em;
    text-align: center;
    background-color:#3f5482;
}